border(color,args...)
    if color is a 'color'
        border 1px solid color args
    else
        border arguments
-apply-border-radius(pos,importance)
    if length(pos) == 3
        y = pos[0]
        x = pos[1]
        {'border-%s-%s-radius' % pos} (pos[2])importance
    else if pos[0] in top bottom
        -apply-border-radius(pos[0] left (pos[1]),importance)
        -apply-border-radius(pos[0] right (pos[1]),importance)
    else if pos[0] in left right
        unshift(pos,top)
        -apply-border-radius(pos,importance)
        pos[0] = bottom
        -apply-border-radius(pos,importance)
/*
 * border-radius supporting augmented behavior.
 *
 * Examples:
 *
 *    border-radius: 2px 5px
 *    border-radius: top 5px bottom 10px
 *    border-radius: left 5px
 *    border-radius: top left 5px
 *    border-radius: top left 10px bottom right 5px
 *    border-radius: top left 10px, bottom right 5px
 *
 */
border-radius()
    pos = ()
    augmented = false
    importance = arguments[length(arguments) - 1] == !important ? !important : unquote('')
    for args in arguments
        for arg in args
            if arg is a 'ident'
                append(pos,arg)
                augmented = true
            else
                append(pos,arg)
                if augmented
                    -apply-border-radius(pos,importance)
                    pos = ()
        border-radius pos
 unless augmented