circle(size,color = #000)
	rectangle(size,size,color,(size / 2))
square(size,color = #000,radius = 0)
	rectangle(size,size,color,radius)
rectangle(width,height,color = #000,radius = 0)
	width width
	height height
	background-color color
	border-radius radius
triangle(width,height,color = #000,direction = 'top')
	width 0
	height 0
	background 0
	border-style solid
	directions = {
		top: {
			border-width: 0 (width * .5) height (width * .5),
			border-color: transparent transparent color transparent
		},
		topRight: {
			border-width: 0 width height 0,
			border-color: transparent color transparent transparent
		},
		right: {
			border-width: (height * .5) 0 (height * .5) width,
			border-color: transparent transparent transparent color
		},
		bottomRight: {
			border-width: 0 0 height width,
			border-color: transparent transparent color transparent
		},
		bottom: {
			border-width: height (width * .5) 0 (width * .5),
			border-color: color transparent transparent transparent
		},
		bottomLeft: {
			border-width: width 0 0 height,
			border-color: transparent transparent transparent color
		},
		left: {
			border-width: (height * .5) width (height * .5) 0,
			border-color: transparent color transparent transparent
		},
		topLeft: {
			border-width: height width 0 0,
			border-color: color transparent transparent transparent
		}
	}
	styles = directions[direction]
	{styles}
triangle-outline(size,color = #000)
	square size
	border-bottom 1px solid color
	position relative
	h = math(size * size + size * .5 * size * .5,'sqrt')
	angle = 26.56505117707799//Hard coding Math.atan(0.5)*180/Math.PI
	&:before, &:after
		content ''
		position absolute
		display block
		width h
		bottom -1px
		border-bottom @border-bottom
	&:before
		left .5px
		transform-origin left
		transform rotate(angle - 90deg)
	&:after
		right .5px
		transform-origin right
		transform rotate(90deg - angle)



