@import './lib/reset.styl'
@import './lib/normailze.styl'
@import './lib/awesome.styl'

*
	margin: 0
	padding: 0
	font-family: Microsoft JhengHei
body
	color #fff
	background-color #202020

html,body,#root
	height 100%
	
.f
	dflex(0,1)
.f1
	flex 1	

.f-col
	flex 1
	dflex(1,1)

#root
	dflex(1,1)

.app
	max-width 600px
	+media('screen')
		max-width 100%
	+media('tablet')
		max-width 100%
	+media('mobile')
		max-width 100%
	
.board
	dflex(1,4)

.row
	dflex(0,4)

.block
	padding 11px 10px
	border-radius 6px
	dflex(1,1)
	background-color #424242
	position relative
	margin 3px 0px
	+media('screen')
		dflex(0,0)
		padding 7px 3px
	+media('tablet')
		dflex(0,0)
		padding 7px 3px
	+media('mobile')
		dflex(1,1)
		padding 7px 3px
	+media('fullscreen')
		dflex(1,1)


.cover
	position fixed
	size(100%)
	left 0
	top 0
	background-color rgba(0,0,0,0.9)
	dflex(1,1)
	>.lightbox
		padding 30px 60px
		background-color rgba(0,0,0,0.9)
		border-radius 4px
		border 1px solid rgba(255,255,255,0.6)

.game
	padding 0px 60px
	+media('screen')
		padding 0px 5px
		min-width 70px
	+media('tablet')
		padding 0px 2px
		min-width 70px
	+media('mobile')
		padding 0px 2px
		min-width 70px

.btn
	padding 4px 6px
	margin 0px 3px
	border-radius 3px
	font-weight bold

.wind
	font-family '標楷體'
	font-size 28px
	font-weight bold
	

.player-name
	position absolute
	left 10px
	top 10px
	font-size 40px
	font-weight bold
	color rgba(0,0,0,0.2)
	+media('mobile')
		left 2px
		top 2px
		font-size 25px
	+media('tablet')
		left 2px
		top 2px
		font-size 25px

.gap-top
	padding-top 10px
	+media('mobile')
		padding-top 5px

.score
	padding 5px 0px
	font-weight bold

.check
	>label
		display block
		padding 7px 0px 3px 0px

.hint	
	font-size 12px

.author
	font-size 12px
	>a,*
		color rgba(255,255,255,0.5)